<button mat-raised-button routerLink="/web/workorders/all">Work Orders</button>
<button mat-raised-button routerLink="/web/violations">Violations</button>
<button mat-raised-button routerLink="/web/tickets">Tickets</button>
<button mat-raised-button routerLink="/web/entries">Recent Entries</button>
<button mat-raised-button routerLink="/web/approveUser">Approve Users</button>
<button mat-raised-button routerLink="/web/cartManager">Carts</button>
<button mat-raised-button (click)="logout()">Logout</button>
<div class="topLevelDiv"></div>