.topLevelDiv{
    position: fixed;
    width: 95%;
    height: 83%;
    left: 2.5%;
    top: 12%;
    outline-color: #f5b719;
    outline-style: double;
    outline-width: 10px;
    z-index:10;
}

button{
    z-index:0;
}

mat-checkbox{
    margin-top:10px;
    margin-left:5px;
}