<button mat-raised-button (click)="moveToAddCart()"><mat-icon>add</mat-icon></button>
<div class="topLevelDiv">
  <mat-table class="accountTable" [dataSource]="cartSource" *ngIf="getDone">
    <ng-container  matColumnDef="Address">
      <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
      <mat-cell *matCellDef="let cart">  
      <span>{{cart.ownerAddress}}</span>
      </mat-cell>
    </ng-container>

    <ng-container  matColumnDef="Cart Make">
    <mat-header-cell *matHeaderCellDef>Cart Make</mat-header-cell>
    <mat-cell *matCellDef="let cart">  
      $<span>{{cart.cartMake}}</span>
    </mat-cell>
    </ng-container>

    <ng-container  matColumnDef="Cart Model">
    <mat-header-cell *matHeaderCellDef>Cart Model</mat-header-cell>
    <mat-cell *matCellDef="let cart">
      <span>{{cart.cartModel}}</span>
    </mat-cell>
    </ng-container>

    <ng-container  matColumnDef="Serial Number">
    <mat-header-cell *matHeaderCellDef>Serial Number</mat-header-cell>
    <mat-cell *matCellDef="let cart">
      <span>{{cart.serialNumber}}</span>
    </mat-cell>
    </ng-container>

    <ng-container  matColumnDef="Label Number">
    <mat-header-cell *matHeaderCellDef>Label Number</mat-header-cell>
    <mat-cell *matCellDef="let cart">
      <span>{{cart.labelNumber}}</span>
    </mat-cell>
    </ng-container>

    <ng-container  matColumnDef="Delete">
    <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
    <mat-cell *matCellDef="let cart">  
      <button mat-raised-button (click)="deleteRow(cart)">Delete</button>
    </mat-cell>
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="keysPlus"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: keysPlus;"></mat-row>
  </mat-table>
</div>